<!DOCTYPE html>
<title>Toolbar</title>

<menu type=toolbar>
 <li>
  <menu label=File>
   <button type=button>New...</button>
   <button type=button>Open...</button>
   <button type=button>Save</button>
   <button type=button>Save as...</button>
  </menu>
 </li>
 <li>
  <menu label=Edit>
   <button type=button>Copy</button>
   <button type=button>Cut</button>
   <button type=button>Paste</button>
  </menu>
 </li>
 <li>
  <menu label=Help>
   <li><a href=help.html>Help</a></li>
   <li><a href=about.html>About</a></li>
  </menu>
 </li>
</menu>
